@font-face {
  font-family: "iconfont"; /* Project id 3614674 */
  src: url('iconfont.woff2?t=1661671776566') format('woff2'),
       url('iconfont.woff?t=1661671776566') format('woff'),
       url('iconfont.ttf?t=1661671776566') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-biji:before {
  content: "\e62b";
}

.icon-biaoqian:before {
  content: "\e62c";
}

.icon-tiaojie:before {
  content: "\e62d";
}

.icon-dianzan:before {
  content: "\e62e";
}

.icon-fenxiang:before {
  content: "\e62f";
}

.icon-heian:before {
  content: "\e630";
}

.icon-fanhui1:before {
  content: "\e631";
}

.icon-dingdan:before {
  content: "\e632";
}

.icon-jiazai:before {
  content: "\e633";
}

.icon-renwuguanli:before {
  content: "\e634";
}

.icon-jiangbei:before {
  content: "\e635";
}

.icon-shoucang:before {
  content: "\e636";
}

.icon-shounahe:before {
  content: "\e637";
}

.icon-shaixuan:before {
  content: "\e638";
}

.icon-re:before {
  content: "\e639";
}

.icon-xiayibu:before {
  content: "\e63a";
}

.icon-xingxing:before {
  content: "\e63b";
}

.icon-liangse:before {
  content: "\e63c";
}

.icon-rili:before {
  content: "\e63d";
}

.icon-tongzhi:before {
  content: "\e63e";
}

.icon-taiyang:before {
  content: "\e63f";
}

.icon-a-xiugai2:before {
  content: "\e640";
}

.icon-pingfen:before {
  content: "\e641";
}

.icon-dianzan1:before {
  content: "\e608";
}

.icon-dingwei:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e60a";
}

.icon-gengduo:before {
  content: "\e60b";
}

.icon-fasong:before {
  content: "\e60c";
}

.icon-xinxi:before {
  content: "\e60d";
}

.icon-shezhi:before {
  content: "\e60e";
}

.icon-wenjian:before {
  content: "\e60f";
}

.icon-shoucang1:before {
  content: "\e610";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-shanchu:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e613";
}

.icon-tongzhi1:before {
  content: "\e614";
}

.icon-lishi:before {
  content: "\e615";
}

